@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');

/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/


body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 800px;
    
    
}

.left-card {

    background-color: hsl(31, 77%, 52%);
   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.middle-card {

    background-color: hsl(184, 100%, 22%);
    padding-left: 20px;
    padding-bottom: 50px;


}

.right-card {
   
    background-color: hsl(179, 100%, 13%);
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 20px;
    padding-bottom: 50px;

}

h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    color: hsl(0, 0%, 95%);
    padding: 20px;
 
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 10px;
    
   
}

img {

    padding-top: 20px;
    padding-left: 20px;
    
}

.button1 {

    border-radius: 30px;
    background-color: white;
    border: none;
    
    color: hsl(31, 77%, 52%);
    padding: 20px;

} 

.button1:hover {

    background-color:hsl(31, 77%, 52%);
    color: white;
    border-style: solid;

}

.container button {

    border: 2px solid white;
    cursor: pointer;

}

.button2 {

    border-radius: 30px;
    background-color: white;
    border: none;
    
    color: hsl(184, 100%, 22%);
    padding: 20px;

}

.button2:hover {

    background-color: hsl(184, 100%, 22%);
    color: white;
    border-style: solid;
}

.button3 {

    border-radius: 30px;
    background-color: white;
    border: none;
    
    color: hsl(179, 100%, 13%);
    padding: 20px;
   
}

.button3:hover {

    background-color: hsl(179, 100%, 13%);
    color: white;
    border-style: solid;
    

}

@media (max-width: 768px) {

    body {

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .container {
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        
        
    }
    


    
}